a {
  color: $link;
  text-decoration: none;
  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}
.v-application {
  color: $text;
}
.v-app-bar.v-toolbar {
  height: 64px;
}
.v-app-bar.v-toolbar:not(.v-toolbar--flat) {
  box-shadow: none;
}
.fz-13 {
  font-size: 13px;
}
