body {
  .v-theme--light {
    a {
      color: $link-light;
    }
    .v-checkbox-btn {
      .v-selection-control__input {
        color: $ring-borders-color;
      }
    }
    .ring-link {
      color: $link-light;
    }
    .v-list-item__content {
      color: $link-light;
    }
  }
  .v-theme--dark {
    a {
      color: $link;
    }
    --v-theme-on-background: 187,187,187 !important;
    --v-theme-on-surface: 187,187,187;
    .v-list-item__content {
      color: $link;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      color: $link-hover;
      text-decoration: underline;
    }
  }
  #app {
    input::placeholder {
      font-size: 12px;
      opacity: .65;
    }
    .v-field__outline {
      &::after {
        content: none;
      }
    }
  }
  input[type=text], input[type=password] {
    font-size: 12px;
    padding: 0;
    background: none;
    background-color: unset;
    &:hover {
      background: none;
    }
  }
  .v-field__outline {
    --v-field-border-opacity: 1;
    color: $ring-borders-color;
  }
  .v-input--density-default {
    --v-input-control-height: 24px;
  }
  .v-input--density-default .v-field--variant-solo, .v-input--density-default .v-field--variant-filled {
    --v-input-control-height: 24px;
  }
  .v-field--variant-filled .v-field__overlay {
    background-color: transparent;
  }
  .v-field--variant-filled.v-field--focused .v-field__overlay {
    opacity: 0;
  }
  .v-selection-control--density-default {
    --v-selection-control-size: 14px;
  }
  .v-theme {
    &--light {
      --v-medium-emphasis-opacity: 1;
    }
    &--dark {
      --v-medium-emphasis-opacity: 1;
    }
  }
  .mdi-checkbox-marked::before {
    color: $selected-background-color;
  }
  .v-selection-control__input > .v-icon {
    width: 14px;
    height: 10px;
  }
  .mdi-checkbox-marked.v-icon {
    background: $ring-text-color;
  }
  .v-label {
    font-size: 14px;
  }
  .v-selection-control__wrapper {
    margin-right: 7px;
  }
  .v-btn--size-default {
    --v-btn-height: 24px;
  }
  .v-btn {
    text-transform: unset;
    letter-spacing: unset;
    font-size: 13px;
    border-radius: 3px;
  }
  .v-text-field .v-input__details {
    padding-inline-start: 0;
  }
}
.v-field--active {
  .v-field__outline {
    &::before {
      color: $primary;
    }
  }
}
.v-app-bar.v-toolbar {
  height: 64px;
}
.v-app-bar.v-toolbar:not(.v-toolbar--flat) {
  box-shadow: none;
}
.fz-12 {
  font-size: 12px;
}
.fz-13 {
  font-size: 13px;
}
.fz-14 {
  font-size: 14px;
}
.v-menu {
  .v-list {
    padding: 11px 16px 16px;
    .list-title {
      color: $secondary;
      letter-spacing: 1.5px;
      font-size: 12px;
    }
    .menu-list-footer {
      color: $secondary;
      &::before {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background: $line;
      }
    }
    .v-input__details {
      display: none;
    }
  }
}
.v-radio {
  .v-label {
    font-size: 13px;
    opacity: unset;
  }
}
.v-list-item {
  padding: unset;
  font-size: 14px;
}
.v-list-item--density-default.v-list-item--one-line {
  min-height: auto;
}
.v-list-item__content {
  cursor: pointer;
  &:hover {
    color: $link-hover;
  }
}
.v-selection-control--density-default {
  --v-selection-control-size: 25px;
}
.v-selection-control__input {
  justify-content: unset;
}
.v-field__input {
  padding: 0;
}
.error {
  color: $label-error-color;
}
