@import "src/assets/scss/components/table";
@import "src/assets/scss/components/button";
@import "src/assets/scss/components/input";
@import "src/assets/scss/components/menu";
@import "src/assets/scss/components/avatar";

body {
  .v-checkbox-btn {
    .v-selection-control__input {
      color: var(--border);
    }
  }
  .v-theme--dark {
    --v-theme-on-background: 187,187,187 !important;
    --v-theme-on-surface: 187,187,187;
    --v-theme-error: 219,88,96;
    --v-disabled-opacity: 1;
  }
  a {
    color: var(--link);
    text-decoration: none;
    &:hover {
      color: $link-hover;
      text-decoration: underline;
    }
  }
  .v-list-item__content {
    color: var(--link);
    cursor: pointer;
    &:hover {
      color: $link-hover;
    }
    .ring-link {
      color: var(--link);
    }
  }
  .v-selection-control--density-default {
    --v-selection-control-size: 14px;
  }
  .v-theme {
    &--light {
      --v-medium-emphasis-opacity: 1;
    }
    &--dark {
      --v-medium-emphasis-opacity: 1;
    }
  }
  .mdi-checkbox-marked::before, .mdi-checkbox-blank-outline::before {
    color: var(--border-hover);
  }
  .mdi-checkbox-marked.v-icon {
    background: $ring-text-color;
  }
  .v-label {
    font-size: 14px;
  }
  .v-selection-control__wrapper {
    margin-right: 7px;
  }
  .v-overlay__scrim {
    opacity: 40%;
    background: #ffffff;
  }
}
.v-application {
  color: var(--ring-text-color);
}
.v-ripple {
  &__container {
    display: none !important;
  }
}
.v-app-bar.v-toolbar {
  height: 64px;
}
.v-app-bar.v-toolbar:not(.v-toolbar--flat) {
  box-shadow: none;
}
.fz-12 {
  font-size: 12px;
}
.fz-13 {
  font-size: 13px !important;
}
.fz-14 {
  font-size: 14px;
}
.fz-15 {
  font-size: 15px;
}
.cursor-pointer {
  cursor: pointer;
}
.v-radio {
  .v-label {
    font-size: 13px;
    opacity: unset;
  }
}
.v-list-item {
  padding: unset;
  font-size: 14px;
}
.v-selection-control--density-default {
  --v-selection-control-size: 25px;
}
.error {
  color: $label-error-color;
}
.v-dialog {
  .v-card--variant-elevated {
    background: var(--ring-content-background-color);
    box-shadow: 0 2px 16px var(--ring-popup-shadow-color);
  }
}
.v-card--variant-elevated {
  color: var(--ring-text-color);
}
.v-autocomplete__content {
  .v-list--one-line {
    max-width: 250px;
  }
}
.v-autocomplete__content.v-overlay__content {
  box-shadow: none;
}
