$text: 187,187,187;
$dark: #111314;
$line: #475159;
$primary: #008eff;
$ring-text-color: #1f2326;
$selected-background-color: #d4edff;
$label-error-color: #c22731;
$link-hover: #ff008c;
$light-border: #b8d1e5;

:root {
  --ring-content-background-color: #ffffff;
  --ring-secondary-color: #737577;
  --menu-hover: #d4edff;
  --link: #0f5b99;
  --icon: var(--border);
  --border: #b8d1e5;
  --border-hover: #80c6ff;
}
[data-theme="dark"] {
  --ring-content-background-color: #23272b;
  --ring-sidebar-background-color: #28343d;
  --ring-hover-background-color: #0b1a26;
  --ring-selected-background-color: #062640;
  --ring-secondary-color: #80929d;
  --ring-main-hover-color: #007ee5;
  --ring-text-color: #bbb;
  --menu-hover: #062640;
  --link: #70b1e6;
  --icon: #80929d;
  --border: #406380;
  --border-hover: #70b1e6;
}
