$text: 187,187,187;
$secondary: #80929d;
$dark: #111314;
$line: #475159;
$primary: #008eff;
$ring-text-color: #1f2326;
$selected-background-color: #d4edff;
$label-error-color: #c22731;
$link-hover: #ff008c;
$light-border: #b8d1e5;

:root {
  --menu-hover: #d4edff;
  --link: #0f5b99;
  --icon: var(--border);
  --border: #b8d1e5;
  --border-hover: #80c6ff;
}
[data-theme="dark"] {
  --menu-hover: #062640;
  --link: #70b1e6;
  --icon: #80929d;
  --border: #406380;
  --border-hover: #70b1e6;
}
